@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

li,
a,
button {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 30px;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-left: 20px;
}

button {
    padding: 9px 20px;
    border-radius: 5px;
    margin-left: 30px;
    color: white;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
}